# ~/.gitconfig from @boblet
# initially based on http://rails.wincent.com/wiki/Git_quickstart

[core]
	excludesfile = /Users/oli/.gitignore
	legacyheaders = false # >git 1.5
	quotepath = false
# http://stackoverflow.com/questions/136178/git-diff-handling-long-lines
	pager = less -r
	editor = vim
# if ↑ doesn’t work, try: pager = less -+$LESS -FRX
[color]
	ui = auto
	interactive = auto
[repack]
	usedeltabaseoffset = true # >git 1.5
[alias]
	s = status
	a = !git add . && git status
	au = !git add -u . && git status
	aa = !git add . && git add -u . && git status
	c = commit
	cm = commit -m
	ca = commit --amend # careful
	ac = !git add . && git commit
	acm = !git add . && git commit -m
	l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	ll = log --stat --abbrev-commit
	d = diff --color-words
    dh = diff --color-words head
    p = push
	master = checkout master
	spull = svn rebase
	spush = svn dcommit
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
[user]
	name = turnspike
	email = hello@turnspike.com
[github]
	user = [GH username]
	token = [API token from https://github.com/account/admin]
[diff]
# git does copy/rename *detection*. if you want it to track copies/renames:
# http://stackoverflow.com/questions/1043388/record-file-copy-operation-with-git
#	renames = copies
[push]
	default = simple
