"*":
  "":
    "editor:not(":
      "mini)":
        "alt-cmd-l": "editor:auto-indent"
  "atom-beautify":
    general:
      _analyticsUserId: "1e42b7b0-57f6-4c4b-b057-2f877f47e248"
    html:
      beautify_on_save: true
      indent_size: 2
  "autocomplete-plus":
    enableAutoActivation: false
  "autocomplete-ruby":
    port: 50445
    rsensePath: "/Users/work/.gem/ruby/2.2.3/bin/rsense"
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    disabledPackages: [
      "deprecation-cop"
      "wrap-guide"
      "linter-rubocop"
      "nvatom"
      "atom-terminal-panel"
      "terminal-plus"
      "vim-mode-plus"
      "autoclose-html"
      "highlight-selected"
      "minimap-highlight-selected"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 16
  "exception-reporting":
    userId: "875ef41a-2469-9e46-3018-65dbb355688b"
  "git-diff":
    showIconsInEditorGutter: true
  "linter-ui-default": {}
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "terminal-plus":
    core:
      mapTerminalsTo: "Folder"
    style:
      theme: "dracula"
    toggles:
      autoClose: true
  termination:
    ansiColors:
      normal:
        blue: "#00bfff"
        cyan: "#00f5ff"
        green: "#7ccd7c"
        magenta: "#cd3278"
        red: "#ee2200"
        yellow: "#ffc125"
    style:
      theme: "one-dark"
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    clearHighlightSearchOnResetNormalMode: true
    highlightSearch: true
    ignoreCaseForSearch: true
    incrementalSearch: true
    keepColumnOnSelectTextObject: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnHalfScrollMotion: true
    stayOnDelete: true
    stayOnTransformString: true
    stayOnYank: true
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
".editorconfig.source":
  editor:
    showIndentGuide: true
    showInvisibles: false
    softWrapAtPreferredLineLength: true
"ruby-test":
  cucumberAllCommand: "bundle exec cucumber --color features"
  cucumberFileCommand: "bundle exec cucumber --color {relative_path}"
  cucumberSingleCommand: "bundle exec cucumber --color {relative_path}:{line_number}"
  rspecAllCommand: "bundle exec rspec --tty spec"
  rspecFileCommand: "bundle exec rspec --tty {relative_path}"
  rspecSingleCommand: "bundle exec rspec --tty {relative_path}:{line_number}"
  specFramework: "rspec"
