"*":
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
".editorconfig.source":
  editor:
    showIndentGuide: true
    showInvisibles: false
    softWrapAtPreferredLineLength: true
"ruby-test":
  cucumberAllCommand: "bundle exec cucumber --color features"
  cucumberFileCommand: "bundle exec cucumber --color {relative_path}"
  cucumberSingleCommand: "bundle exec cucumber --color {relative_path}:{line_number}"
  rspecAllCommand: "bundle exec rspec --tty spec"
  rspecFileCommand: "bundle exec rspec --tty {relative_path}"
  rspecSingleCommand: "bundle exec rspec --tty {relative_path}:{line_number}"
  specFramework: "rspec"
